/*!
 * https://github.com/catppuccin
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #4c4f69;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #7c7f934d;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #7c7f934d;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #eff1f5;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.variable {
	color: #4c4f69;
}

.token.regex {
	color: #4c4f69;
}

.token.punctuation {
	color: #179299;
}

.token.operator {
	color: #179299;
}

.token.comment {
	color: #9ca0b0;
	font-style: italic;
}

.token.string {
	color: #40a02b;
}

.token.inserted {
	color: #40a02b;
}

.token.char {
	color: #ea76cb;
}

.token.constant {
	color: #ea76cb;
}

.token.number {
	color: #fe640b;
}

.token.builtin {
	color: #fe640b;
}

.token.boolean {
	color: #fe640b;
}

.token.changed {
	color: #fe640b;
}

.token.keyword {
	color: #8839ef;
}

.token.tag {
	color: #8839ef;
}

.token.function {
	color: #1e66f5;
	font-style: italic;
}

.token.class-name {
	color: #df8e1d;
	font-style: italic;
}

.token.attr-name {
	color: #d20f39;
}

.token.selector {
	color: #d20f39;
}

.token.deleted {
	color: #d20f39;
}

.token.property {
	color: #1e66f5;
}

.token.symbol {
	color: #e64553;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #9ca0b088;
	--am-prism-border-color: #9ca0b033;
	--am-prism-copy-color: #4c4f69dd;
	--am-prism-copy-bg: #9ca0b033;
}
