/*!
 * https://github.com/rose-pine/prism
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #e0def4;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #6e6a8633;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #6e6a8633;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #191724;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #6e6a86;
}

.token.keyword,
.token.constant {
	color: #31748f;
}

.token.hexcode {
	color: #31748f;
}

.token.punctuation {
	color: #ebbcba;
}

.token.number {
	color: #ebbcba;
}

.token.builtin {
	color: #ebbcba;
}

.token.variable {
	color: #ebbcba;
}

.token.tag {
	color: #9ccfd8;
}

.token.inserted {
	color: #9ccfd8;
}

.token.function,
.token.attr-name {
	color: #c4a7e7;
}

.token.selector {
	color: #c4a7e7;
}

.token.deleted {
	color: #eb6f92;
}

.token.string {
	color: #f6c177;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #6e6a8677;
	--am-prism-border-color: #6e6a8633;
	--am-prism-copy-color: #e0def4;
	--am-prism-copy-bg: #6e6a8622;
}
